.Profile_Container {
    width: 100%;
    padding-bottom: 5vw;
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;*/
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

.Profile {
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 3vw;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #ffffff;
}

.Profile > label {
    width: 100%;
    display: inline-block;
}

.login {
    font-weight: bold;
    font-size: 20px;
}

.Profile > input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Profile > button {
    background-color: #FE8953;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.Profile > button:hover {
    opacity: 0.8;
}


