.Login__Container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

.Login__Form {
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 3vw;
    background-color: #ffffff;
    box-shadow: 1px 1px 12px #ffffff;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width : 768px) {
    .Login__Form {
        width:95%;
    }
}