.Container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}




/* Bordered form */
.Login {
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 3vw;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #ffffff;
}

/* Full-width inputs */
.Login > input[type=text], .Login > input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.Login > button {
    background-color: #FE8953;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.Login > button:hover {
    opacity: 0.8;
}