.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#root {
  background-color: #f7f4f3;
}


.Menu__Container {
  margin-bottom: 3vh;
  background-color: #fff;;
  border-bottom: 10px solid #e64280;
}

.Login_Register__Container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: linear-gradient(-20deg, #e64280 0%, #303030 100%);
}

.Login_Register__Form {
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 3vw;
  background-color: #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 12px #dedede66;
    -moz-box-shadow:inset 0px 0px 0px 12px #dedede66;
    box-shadow:inset 0px 0px 0px 12px #dedede66;
}

.Login__Title {
  color: white;
  font-family: 'Chewy', cursive;
  font-weight: 700;
  font-size: 3vw;
  margin-bottom:20px;
}

.Pagination__Container {
  margin-top: 20px !important;
}


footer {
    border-top: 10px solid #e64280;
    margin-top: 2vh;
    background-color: #4b003d;
    height: 100px;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width : 768px) {
  .Login_Register__Form {
      width:95%;
  }
}