.message-from-user {
    text-align: right;
    grid-column: 2 / span 5;
    background-color: #1976D2;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    max-width: 50%;
    overflow-wrap: break-word;
}

.message-from-contact {
    grid-column: 1 / span 4;
    background-color: #F5F5F5;
    color: #000;
    border-radius: 5px;
    padding: 5px;
    max-width: 50%;
    overflow-wrap: break-word;
}

.message-time {
    font-size: 10px;
}

.message-header-container {
    display: grid;
}

.message-picture {
    grid-column: 1;
}

.message-login {
    grid-column: 2 / span 50;
}

.message-picture-reverse {
    grid-column: 50;
}

.message-login-reverse {
    grid-column: 1 / span 49;
}